<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289406628812-6utrpq058tisermt49qjq0a1gejq4tpv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289406628812-6utrpq058tisermt49qjq0a1gejq4tpv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>289406628812-si5mv2nfgn1qaj07depk6jsgcfn3rvsn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCCSUStowziF2XoFryon80aIqzJmhkXEKU</string>
	<key>GCM_SENDER_ID</key>
	<string>289406628812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flycricket.voicePut</string>
	<key>PROJECT_ID</key>
	<string>voiceput-e9f38</string>
	<key>STORAGE_BUCKET</key>
	<string>voiceput-e9f38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289406628812:ios:b3176b36524c3aa92e6369</string>
</dict>
</plist>