<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>HideOut</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>VoicePut</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.289406628812-kba2qnnqdq9ud5mik5tk2uvmhcom2voo</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app does not use Apple Music.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app use bluetooth for listening to audio.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app does not use the information for calendar.</string>
	<key>NSCameraUsageDescription</key>
	<string>This app uses the camera for updating the profile image.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app uses the photo library for updating the profile image.</string>
	<key>NSContactsUsageDescription</key>
	<string>This app does not use the information for contacts.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app uses the microphone to record your speech.</string>
	<key>NSMotionUsageDescription</key>
	<string>This app does not use the information for motion.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app uses the photo library for updating the profile image.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app does not use the information for speech recognition.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
